#fb-album-dialog ul.fb-album-inline {
  margin: 0;
  padding: 0;
  list-style-type: none; }
#fb-album-dialog ul > li {
  display: inline-block;
  margin: .2em;
  padding: .2em;
  width: 130px;
  min-height: 130px;
  vertical-align: top;
  cursor: pointer; }
  #fb-album-dialog ul > li.selected {
    background-color: #EDFFFF; }
#fb-album-dialog .fb-album-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; }
#fb-album-dialog .fb-album-image {
  text-align: center; }
  #fb-album-dialog .fb-album-image > img {
    max-width: 130px;
    max-height: 130px; }

#dfil-happimess-share-form .fb-preview {
  margin: 0 2em; }
  #dfil-happimess-share-form .fb-preview .fb-preview-image {
    display: inline-block;
    max-width: 130px;
    margin-right: 1em; }
  #dfil-happimess-share-form .fb-preview .fb-preview-text {
    display: inline-block;
    max-width: 305px;
    vertical-align: top; }
